//=====================<МИКСИНЫ>=================================================
//@import "mixins";
//=====================</МИКСИНЫ>=================================================

//=====================<ШРИФТЫ>===================================================

//=========<Подключаем шрифты>====================================
//&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
//@import "fonts";
//========</Подключаем шрифты>=======================================

//=========Иконочные шрифты>===========================================
@import "icons";
//=========</Иконочные шрифты>=========================================

//==========<Шрифт по умолчанию>========================================
$fontFamily: "Heebo";
//=========</Шрифт по умолчанию>========================================

//=====================</ШРИФТЫ>========================================================

//=====================<ПЕРЕМЕННЫЕ>======================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 699.98;
$md3: 479.98;
// $md2: 991.98;
// $md3: 767.98;
// $md4: 479.98;
//=====================</ПЕРЕМЕННЫЕ>===============================================================

//=====================<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================
@import "null";

body {
    color: #21243D;

    a {
        color: inherit;
        cursor: pointer;
    }
}



//=====================</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================


//=====================<ОБОЛОЧКА>===============================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &._loaded {}
}

//=====================</ОБОЛОЧКА>==============================================================

//<ОСНОВНАЯ СЕТКА>==========================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;

    @media (max-width: ($md1+px)) {
        max-width: 750px;
        padding: 0 10px;
    }

    @media (max-width: ($md2+px)) {
        max-width: none;

    }
}



//</ОСНОВНАЯ СЕТКА>====================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================
//@import "forms";
//@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==============================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================================================


@import "header";
@import "footer";
@import "home";
@import "work";
@import "blog";
@import "page-work";
//@import "icons";


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================
//<ОСНОВНОЙ БЛОК>=============================================================
.page {
    padding: 90px 0px 0px 0px;
    flex: 1 1 auto;

    @media (max-width: ($md2+px)) {
        padding: 30px 0px 0px 0px;
    }
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;

    @media (max-width:($md3+px)) {
        font-size: 32px;
        line-height: 125%;
    }
}

.title-post {
    font-weight: 700;
    line-height: 145%;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

._active {
    color: #FF6464;
}

//============================================================================


//</ОСНОВНОЙ БЛОК>================================================